<footer class="footer">
	<div class="row">
		<div class="footer__inner">
<!--
			<div class="logo logo_footer">
				<a href="">
					<img src="img/logo.png" alt="">
				</a>
			</div>
			-->
			<div class="copy">Copyright © 2017 Node. All rights reserved</div>

			<div class="socials">
				<ul class="socials__list">
					<li class="social"><a class="social__link" href="https://www.facebook.com/nodetechnology/"><i class="icon icon-facebook"></i></a></li>
					<li class="social"><a class="social__link" href="https://twitter.com/node_technology"><i class="icon icon-tw"></i></a></li>
					<li class="social"><a class="social__link" href="https://www.instagram.com/node_technology/?hl=ru"><i class="icon icon-in"></i></a></li>
					<li class="social"><a class="social__link" href="https://join.slack.com/t/node-technology/shared_invite/enQtMjQ2MDQxNjY2ODA0LThlMmIzZmY3ZDc5NmU3M2UwYTU4MDZjYWUyYjRmNzc0M2QxMzFjNDcyYzU2ZTg1YWFjYTM3YmMzOWY4Y2Y5NGI"><i class="icon icon-slack"></i></a></li>
					<li class="social"><a class="social__link" href="https://www.youtube.com/channel/UCYyeSKoizPsbmchL9MNzT1w"><i class="icon icon-yt"></i></a></li>
					<li class="social"><a class="social__link" href="https://medium.com/@node_technology"><i class="icon icon-med"></i></a></li>
					<li class="social"><a class="social__link" href="https://t.me/nodeofficial"><i class="icon icon-telegram"></i></a></li>
				</ul>
			</div>
		</div>
	</div>

</footer>