<header class="header">
	<div class="row">
		<div class="logo">
			<a href="">
				<img src="img/logo.png" alt="">
			</a>
		</div>
		<nav class="nav">
			<ul class="nav__list">
				<li class="nav__item"><a class="nav__link js-nav-link" href="#about">Node</a></li>
				<li class="nav__item"><a class="nav__link js-nav-link" href="#products">Product</a></li>
				<li class="nav__item"><a class="nav__link js-nav-link" href="#team">Team</a></li>
				<li class="nav__item"><a class="nav__link js-nav-link" href="#road_map">Roadmap</a></li>
				<li class="nav__item"><a class="nav__link js-nav-link" href="#token">Token</a></li>
				<li class="nav__item"><a class="nav__link js-nav-link" href="/whitepaper.pdf">Whitepaper</a></li>
			</ul>
		</nav>
		<div class="lang">
			<div class="lang__current js-lang">ENG</div>
			<div class="lang__arrow icon-arrow_down"></div>
			<ul class="lang__list">
				<li><a class="lang__link" href="./ru/index.html">РУС</a></li>
			</ul>
		</div>
	</div>
</header>