	<section class="section" id="token">
		<div class="row">
			<h2 class="title-h2">INVESTMENT ATTRACTIVENESS </h2>

			<p class="text">Depending on the size of the collected funds (realized tokens), the reverse annual purchase will be made accordingly:</p>

			<table class="table">
				<tr>
					<th>&nbsp;</th>
					<th>Million, NODE tokens </th>
					<th>Characteristics</th>
					<th>Volume of token redemption per year</th>
				</tr>
				<tr>
					<td>Pre-ICO</td>
					<td>0,75</td>
					<td>
						<ol>
							<li>1. Registration of trademarks in Europe and the USA (November 2017)</li>
							<li>2. Request for the patents in Europe and the USA (technology) (December 2017 - January 2018)</li>
							<li>3. Testing and obtaining a certification for Alpha in Europe and the USA (December 2017)</li>
							<li>4. Production of the trial consignment of Alpha (December 2017 - January 2018)</li>
							<li>5. Testing and obtaining a certification for Eon in Europe and the USA (January 2018)</li>
							<li>6. Production of the trial consignment of Alpha (January 2018-February 2018)</li>
							<li>7. Request for the patents in Europe and the USA (design and model) (March 2018)</li>
						</ol>
					</td>
					<td><b>&ndash;</b></td>
				</tr>
				<tr>
					<td>ICO</td>
					<td>10,0 (including Pre-ICO) </td>
					<td>Production of the Alpha, Eon и Wireless Power Station</td>
					<td>5%-30%</td>
				</tr>
			</table>

			<table class="table table_mob">
				<tr>
					<th>&nbsp;</th>
					<td>Pre-ICO</td>
					<td>ICO</td>
				</tr>
				<tr>
					<th>Million, NODE <br> tokens</th>
					<td>0,75</td>
					<td>10,0 (including Pre-ICO)</td>
				</tr>
				<tr>
					<th>Characteristics</th>
					<td>
						<ol>
							<li>1. Registration of trademarks in Europe and the USA (November 2017)</li>
							<li>2. Request for the patents in Europe and the USA (technology) (December 2017 - January 2018)</li>
							<li>3. Testing and obtaining a certification for Alpha in Europe and the USA (December 2017)</li>
							<li>4. Production of the trial consignment of Alpha (December 2017 - January 2018)</li>
							<li>5. Testing and obtaining a certification for Eon in Europe and the USA (January 2018)</li>
							<li>6. Production of the trial consignment of Alpha (January 2018-February 2018)</li>
							<li>7. Request for the patents in Europe and the USA (design and model) (March 2018)</li>
						</ol>
					</td>
					<td></td>
				</tr>
				<tr>
					<th>Volume of token redemptiond per year</th>
					<td>&ndash;</td>
					<td>5%-20%</td>
				</tr>

			</table>

			<p class="text">The NODE tokens that a company will acquire as a result of a buyback will be distributed among existing investors in proportion to the current number of tokens on the balance at the time of such distribution. </p>

			<p class="text">Annual buyback of tokens will be calculated using the following formula: "Volume of undistributed profit*3*Volume of the NODE tokens sold/100%"</p>

			<p class="text">That is, if the sales level of 10 million NODE tokens is reached, 30% of the undistributed profit will be redeemed, followed by a proportional distribution of tokens between the remaining investors.</p>

			<p class="text">Therefore, an investor can already calculate the guaranteed interest income that he will receive annually from the buyout of tokens, regardless of the demand for the NODE tokens on the market. Accordingly, the longer an investor holds the tokens, the more income he can get.</p>

			<p class="text">At any given time, the buyer will have the opportunity to purchase NODE products with a 25% discount in relation to the value in a fiat currency (USD) with a condition of payment with the company's tokens. For example, with the actual cost of the Alpha at 99.0USD, the purchase price when paying with NODE tokens will be 74.25 USD. The tokens that the company will acquire as a result of the sale of its products will be burned, thus reducing their total quantity in a turnover.</p>

			<h2 class="title-h2">DEMAND FORECASTING FOR THE NODE TOKENS</h2>

			<p class="text">At least 50% of purchases through the direct sales channel will be generated by tokens. The total planned share of direct sales is 20%. The estimated annual demand will be 10 million tokens with a total value of 8 million USD, excluding the speculative component. This will ensure a minimum 2-fold turnover on the invested working capital.</p>

			<table class="table-mod">
				<tr>
					<th>Scenario <br> №</th>
					<th>NODE tokens amount</th>
					<th>Annual turnover, USD</th>
					<th>Direct sales by tokens,<br> 10% of turnover, USD</th>
					<th>Buyback, USD</th>
				</tr>
				<tr>
					<td>1</td>
					<td>2,50 million pcs.</td>
					<td>15 million USD</td>
					<td>1,5 million USD</td>
					<td>0,125 million USD (5%)</td>
				</tr>
				<tr>
					<td>2</td>
					<td>5,0 million pcs.</td>
					<td>30 million USD</td>
					<td>3 million USD</td>
					<td>0,5 million USD (10%)</td>
				</tr>
				<tr>
					<td>3</td>
					<td>10,0 million pcs.</td>
					<td>60 million USD</td>
					<td>6 million USD</td>
					<td>2 million USD (20%)</td>
				</tr>
			</table>

			<table class="table-mod table-mod_mob">
				<tr>
					<th>Scenario <br>№</th>
					<td>1</td>
					<td>2</td>
					<td>3</td>
				</tr>
				<tr>
					<th>NODE tokens amount</th>
					<td>2,5 million pcs.</td>
					<td>5,0 million pcs.</td>
					<td>10,0 million pcs.</td>
				</tr>
				<tr>
					<th>Annual turnover, USD</th>
					<td>15 million USD</td>
					<td>30 million USD</td>
					<td>60 million USD</td>
				</tr>
				<tr>
					<th>Direct sales by tokens,<br> 10% of turnover, USD</th>
					<td>1,5 million USD</td>
					<td>3 million USD</td>
					<td>6 million USD</td>
				</tr>
				<tr>
					<th>Buyback, USD</th>
					<td>0,125 million USD (5%)</td>
					<td>0,5 million USD (10%)</td>
					<td>2 million USD (20%)</td>
				</tr>

			</table>

			<div class="btn-wrap btn-wrap_center">
				<button class="btn btn_blue js-join-btn">Buy NODE</button>
			</div>

		</div>
	</section>