<section class="section section_bg_blue" id="team">
	<div class="row row_wide">
		<h2 class="title-h2 title-h2_white">OUR TEAM</h2>

		<div class="members">
			<div class="member__col">
				<div class="member">
					<div class="member__photo">
						<img src="img/members/member1.jpg" alt="">
					</div>
					<div class="member__name">Pavel Zelenin</div>
					<div class="member__position">Founder</div>

					<div class="member__info">Research and development of new ceramic materials and methods of storage and transmission of electric power.</div>
				</div>
			</div>
			<div class="member__col">
				<div class="member">
					<div class="member__photo">
						<img src="img/members/member3.jpg" alt="">
					</div>
					<div class="member__name">Daniil Morozov </div>
					<div class="member__position">Co-founder</div>

					<div class="member__info">PhD in Economics.
					More than 10 years in financial consulting, winner of "100 best products of Russia", "Financial Russia 2007", "Financial Russia 2008". Business Angel, 15 startups in the portfolio.
					</div>
				</div>
			</div>
			<div class="member__col">
				<div class="member">
					<div class="member__photo">
						<img src="img/members/member4.jpg" alt="">
					</div>
					<div class="member__name">Oleg Pensky</div>
					<div class="member__position">Chief scientific officer</div>

					<div class="member__info">Scientist and inventor in the field of mechanics and mathematical modeling. PhD in technical science, founder of the theory of robots with non-absolute memory.</div>
				</div>
			</div>
			<div class="member__col">
				<div class="member">
					<div class="member__photo">
						<img src="img/members/member11.jpg" alt="">
					</div>
					<div class="member__name">Dmitry Okulov</div>
					<div class="member__position">Chief technical officer</div>

					<div class="member__info">Specialist in the field of Internet marketing and site building. Practical experience in building a complex Internet marketing in many niches of a business, including startups. Higher technical education, specialization - information systems and technologies.</div>
				</div>
			</div>

			<div class="member__col">
				<div class="member">
					<div class="member__photo">
						<img src="img/members/member9.jpg" alt="">
					</div>
					<div class="member__name">Irina Kotova</div>
					<div class="member__position">Financial planning and accounting expert</div>

					<div class="member__info">More than 10 years of experience in banking.
					Long term practice of sales and financial analytics.
					Constant newscaster of the "Market Survey" rubric in the program "Week Results" on the regional channel RBC.
					</div>
				</div>
			</div>
			<div class="member__col">
				<div class="member">
					<div class="member__photo">
						<img src="img/members/member10.jpg" alt="">
					</div>
					<div class="member__name">Denis Konogorov</div>
					<div class="member__position">Investments expert</div>

					<div class="member__info">Specialist in the field of investment, banking, finance and risk assessment. Eight years of experience in senior positions in companies such as: UralFD Bank and Perm-Invest. Master’s degree in Finance (Glasgow Caledonian University, Scotland). </div>
				</div>
			</div>
			<div class="member__col">
				<div class="member">
					<div class="member__photo">
						<img src="img/members/member7.jpg" alt="">
					</div>
					<div class="member__name">Vadim Kotov</div>
					<div class="member__position">Marketing expert</div>

					<div class="member__info">Experience in the equity market, banking sector and insurance.
					Many years of experience in the securities market, in the banking sector and in insurance. For more than three years, he has been leading a created group of companies, specializing in marketing and Internet promotion of clients' businesses.
					</div>
				</div>
			</div>
			<div class="member__col">
				<div class="member">
					<div class="member__photo">
						<img src="img/members/member2.jpg" alt="">
					</div>
					<div class="member__name">Mikhail Pan</div>
					<div class="member__position">Sales. Asian markets</div>

					<div class="member__info">Long term practice of selling, developing documentation and consulting clients in the European and Asian markets. Has a higher legal and economic education.  </div>
				</div>
			</div>
			<div class="member__col">
				<div class="member">
					<div class="member__photo">
						<img src="img/members/member6.jpg" alt="">
					</div>
					<div class="member__name">Yulia Trubnikova </div>
					<div class="member__position">Sales. European and US markets</div>

					<div class="member__info">Specialist in building sales systems and customer relations, as well as investments. More than 13 years of experience in such companies as: Lukoil and VISA. Master's degree in Management (Universidade Nova de Lisboa, Portugal)  </div>
				</div>
			</div>
			<div class="member__col">
				<div class="member">
					<div class="member__photo">
						<img src="img/members/member8.jpg" alt="">
					</div>
					<div class="member__name">Evgeny Petrikin</div>
					<div class="member__position">Sales.  Middle Eastern markets</div>

					<div class="member__info">Expert with more than 15 years of experience in project management, their modification and adjustment in countries such as: UAE, Qatar, Russia, Kazakhstan. Works in close cooperation with diverse and multinational teams.</div>
				</div>
			</div>
			<div class="member__col">
				<div class="member">
					<div class="member__photo">
						<img src="img/members/member5.jpg" alt="">
					</div>
					<div class="member__name">Ibtihaj Abrar</div>
					<div class="member__position">Product designer</div>

					<div class="member__info">Many years of experience as a designer of products in the field of technology. Master’s degree in Graphic Design and Outdoor Advertising. </div>
				</div>
			</div>
			<div class="member__col">
				<div class="member">
					<div class="member__photo">
						<img src="img/members/member12.jpg" alt="">
					</div>
					<div class="member__name">George Mikaberydze</div>
					<div class="member__position">Advisor</div>

					<div class="member__info">CEO and Co-Founder of the 100AM. Previously, co-founder and Managing Director of Healbe - the company-developer of wearable devices. More than 10 years of experience in media (RBC, Hearst Shkulev Media) in marketing, business development and launching new projects. Top 5 Marketing Director in Russia (according to Kommersant rating in 2009-2010) <br>

					Facebook: https://www.facebook.com/george.mikaberydze <br>
					Linkedin: https://www.linkedin.com/in/georgy-mikaberydze-118b801/</div>
				</div>
			</div>
			<div class="member__col">
				<div class="member">
					<div class="member__photo">
						<img src="img/members/member13.jpg" alt="">
					</div>
					<div class="member__name">Georgii Erman</div>
					<div class="member__position">Advisor</div>

					<div class="member__info">Expert-analyst, independent consultant on investments in ICO projects, active crypto-currency entrepreneur, experienced sales and marketing specialist. Co-founder of Aurora Blockchain Capital, which is an international investment fund specializing in analytics and investments in crypto-currency <br>
					Facebook: https://www.facebook.com/george.ermanbr <br>
					Linkedin: https://www.linkedin.com/in/ermangeorge/

					 </div>
				</div>
			</div>
		</div>
	</div>
</section>