<!-- BEGIN MOBILE NAV -->
<div class="header-mob">
	<div class="mob-menu">
		<div class="mob-menu__inner">
			<a href="" class="mob-menu__logo"><img src="img/logo.png" alt=""></a>
		  	<button class="mob-menu__btn js-nav-btn"><span></span></button>

			<div class="mob-nav js-mob-nav">
			    <div class="nav-mob">
			      <div class="nav-mob__body">
			          <!-- catalog menu -->
			          <ul class="nav-mob__list">
			            <li class="nav-mob__option"><a href="#about" class="nav-mob__link js-nav-link">Node</a></li>
			            <li class="nav-mob__option"><a href="#products" class="nav-mob__link js-nav-link">Product</a></li>
			            <li class="nav-mob__option"><a href="#team" class="nav-mob__link js-nav-link">Team</a></li>
			            <li class="nav-mob__option"><a href="#road_map" class="nav-mob__link js-nav-link">Roadmap</a></li>
			            <li class="nav-mob__option"><a href="#token" class="nav-mob__link js-nav-link">Token</a></li>
			            <li class="nav-mob__option"><a href="/whitepaper.pdf" class="nav-mob__link js-nav-link"">Whitepaper</a></li>
			          </ul>
			          <!-- /list items menu -->

	  				<div class="lang lang_mob">
						<div class="lang__current">ENG</div>
						<ul class="lang__list">
							<li><a class="lang__link" href="./ru/index.html">РУС</a></li>
						</ul>
					</div>

			      </div>
			    </div>
	    	</div>
	    </div>
	</div>
</div>
<!-- END MOBILE NAV -->