	<section class="section">
		<div class="section-bg" style="background-image: url(img/footer-bg.png)"></div>
		<div class="row">

			<div class="summary">
				<!-- first col -->
				<div class="summary__col">
					<div class="summary__title title-h2 title-h2_white">Pre-ICO</div>
					<div class="summary__period ico">
						<div class="ico__col">
							<div class="ico__title">START</div>
							<div class="ico__title">END</div>
						</div>
						<div class="ico__col">
							<div class="ico__data">01.11.2017 <br> 12:00 UTC+2</div>
							<div class="ico__data">15.12.2017 <br>12:00 UTC+2</div>
						</div>
					</div>

					<div class="summary__part">
						<div class="summary__part-title">Token price:</div>
						<div class="summary__part-body">1 USD</div>
					</div>
					<div class="summary__part">
						<div class="summary__part-title">Minimal investment:</div>
						<div class="summary__part-body">10 USD in equivalent </div>
					</div>
					<div class="summary__part">
						<div class="summary__part-title">Total token amount:</div>
						<div class="summary__part-body">0.75 million pcs.</div>
					</div>
					<div class="summary__part">
						<div class="summary__part-title">Investor receives 50% bonus</div>
						<div class="summary__part-body">(additional 0,5 of token per each invested one)</div>
					</div>

				</div>

				<!-- second col -->
				<div class="summary__col">
					<div class="summary__title title-h2 title-h2_white">ICO</div>
					<div class="summary__period ico">
						<div class="ico__col">
							<div class="ico__title">START</div>
							<div class="ico__title">END</div>
						</div>
						<div class="ico__col">
							<div class="ico__data">15.01.2018 <br>12:00 UTC+2</div>
							<div class="ico__data">15.03.2018 <br>12:00 UTC+2</div>
						</div>
					</div>

					<div class="summary__part">
						<div class="summary__part-title">Token price:</div>
						<div class="summary__part-body">1 USD</div>
					</div>
					<div class="summary__part">
						<div class="summary__part-title">Minimal investment:</div>
						<div class="summary__part-body">10 USD in equivalent </div>
					</div>
					<div class="summary__part">
						<div class="summary__part-title">Early investors receive bonuses:</div>
						<div class="summary__part-body">
							<ul>
								<li>1-10 days -  30%</li>
								<li>11-20 days - 20%</li>
								<li>21-30 days - 15%</li>
								<li>31-40 days - 10%</li>
							</ul>
						</div>
					</div>

				</div>

				<p class="text text_white">Total number of tokens including Pre-ICO: 10 million pcs. Token distribution: 2% of the sold tokens on the bounty program</p>

				<p class="text text_white">All unsold and undistributed tokens are burned. </p>
			</div>



			<div class="btn-wrap btn-wrap_center">
				<button class="btn btn_lblue js-join-btn">Participate</button>
			</div>
		</div>
	</section>