
<!-- begin properties -->
<section id="products" class="section section_products">
	<div class="row">
		<h2 class="title-h2">OUR DEVICES ARE:</h2>
		<div class="properties">
			<ul class="properties__list">
				<li class="properties__item property-item">
					<div class="property-item__img"><i class="icon-prop icon-prop-1"></i></div>
					<div class="property-item__title">Convenient location choice </div>
					<div class="property-item__descr">Less wires and more space saving.</div>
				</li>
				<li class="properties__item property-item">
					<div class="property-item__img"><i class="icon-prop icon-prop-2"></i></div>
					<div class="property-item__title">Ergonomics</div>
					<div class="property-item__descr">It is possible to transfer energy to many devices with any power simultaneously.</div>
				</li>
				<li class="properties__item property-item">
					<div class="property-item__img"><i class="icon-prop icon-prop-3"></i></div>
					<div class="property-item__title">Economical  </div>
					<div class="property-item__descr">Low to medium cost, in comparison with other solutions, energy conversion efficiency (90%).</div>
				</li>
				<li class="properties__item property-item">
					<div class="property-item__img"><i class="icon-prop icon-prop-4"></i></div>
					<div class="property-item__title">Versatility</div>
					<div class="property-item__descr">Technology can be applied to any electronics.</div>
				</li>
				<li class="properties__item property-item">
					<div class="property-item__img"><i class="icon-prop icon-prop-5"></i></div>
					<div class="property-item__title">Design</div>
					<div class="property-item__descr">Stylish, ergonomic and modern design. Convenient use and storage.	</div>
				</li>

			</ul>
		</div>
		<div class="products">
			<div class="products__descr">The process of creating products using technologies from Node passed the stage from experimental studies to the creation and successful final testing of prototype devices. Our investors get an opportunity not only to increase their capital, but also to become the first owners of such devices:</div>

			<ul class="products__list">
				<li class="products__item product">
					<div class="product__inner">
						<div class="product__img popup-gallery"><a href="img/Alpha/3.jpg"><img src="img/device.png" alt=""></a></div>
						<div class="product__title">Alpha</div>
						<div class="product__body">
							<p>Flexible and stylish pad for wireless charging of electronic devices. </p>
							<p>A large area of the charging surface allows you to charge several devices, placing them side by side or even on each other.</p>

							<div class="product__characteristics">
								<h3>Specifications:</h3>
								<ul>
									<li>- Surface area 300x200mm</li>
									<li>- Transmitted power up to 10W</li>
									<li>- USB power supply 5V</li>
								</ul>
							</div>
						</div>
					</div>
				</li>
				<li class="products__item product">
					<div class="product__inner">
						<div class="product__img popup-gallery2"><a href="img/Eon/EON.120.jpg"><img src="img/device2.png" alt=""></a></div>
						<div class="product__title">Eon</div>
						<div class="product__body">
							<p>Wireless charging station for desktop placement.</p>
							<p>It has small dimensions and is capable of transmitting energy within a radius of up to 1 meter.</p>
							<p>The device provides charging of several devices simultaneously and is equipped with automatic power control.</p>

							<div class="product__characteristics">
								<h3>Specifications:</h3>
								<ul>
									<li>- Transmitted power - up to 150W</li>
									<li>- Power supply- 220V</li>
									<li>- Dimensions - 100x70mm</li>
								</ul>
							</div>
						</div>
					</div>
				</li>
				<li class="products__item product">
					<div class="product__inner">
						<div class="product__img"><img src="img/device3.png" alt=""></div>
						<div class="product__title">
							Wireless Power Station<br>
							<span>On a development stage</span>
						</div>
						<div class="product__body">
							<p>Wireless charging station of medium power for floor/wall mounting. Allows to charge devices within a radius of 30 meters.</p>
							<p>Can be used to power and charge household appliances. Automatic power control. Remote control, IoT support.</p>
							<div class="product__characteristics">
								<h3>Specifications:</h3>
								<ul>
									<li>- Power up to 1kW</li>
									<li>- Power supply 220V</li>
								</ul>
							</div>
						</div>
					</div>
				</li>

			</ul>
		</div>
	</div>
</section>
<!-- end properties -->