<section class="section" id="road_map">
	<div class="row row_center">
		<h2 class="title-h2 title-h2">ROADMAP</h2>

		<div class="road-container">
			<div class="road-cols">
				<div class="road-col">
					<div class="road">
						<div class="road__section">
							<div class="road__period"><i class="fa fa-check" aria-hidden="true"></i>
							10/2012 – 05/2016 </div>
							<div class="road__info">The project initiator and like-minded people conducted a research in the field of semiconductor and ceramic materials and their interaction with electromagnetic high-frequency impulsive fields</div>
						</div>
					</div>
				</div>
				<div class="road-col">&nbsp;</div>
			</div>
		</div>

		<div class="road-container">
			<div class="road-cols">
				<div class="road-col">&nbsp;</div>
				<div class="road-col">
					<div class="road">
						<div class="road__section">
							<div class="road__period road__period_left"><i class="fa fa-check" aria-hidden="true"></i>
							06/2016 </div>
							<div class="road__info">Based on the obtained results, a decision was made to commercialize the technology</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="road-container">
			<div class="road-cols">
				<div class="road-col">
					<div class="road">
						<div class="road__section">
							<div class="road__period"><i class="fa fa-check" aria-hidden="true"></i>
							06/2016 – 03/2017</div>
							<div class="road__info">Development of schemes and technological solutions, selection of components</div>
						</div>
					</div>
				</div>
				<div class="road-col">&nbsp;</div>
			</div>
		</div>

		<div class="road-container">
			<div class="road-cols">
				<div class="road-col">&nbsp;</div>
				<div class="road-col">
					<div class="road">
						<div class="road__section">
							<div class="road__period road__period_left"><i class="fa fa-check" aria-hidden="true"></i>
							04/2017 </div>
							<div class="road__info">Successful final testing of several prototype devices</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="road-container">
			<div class="road-cols">
				<div class="road-col">
					<div class="road">
						<div class="road__section">
							<div class="road__period"><i class="fa fa-check" aria-hidden="true"></i>
							05/2017 – 06/2017 </div>
							<div class="road__info">The design concept was developed, materials and technologies for a sample batch manufacturing were selected</div>
						</div>
					</div>
				</div>
				<div class="road-col">&nbsp;</div>
			</div>
		</div>
		<div class="road-container">
			<div class="road-cols">
				<div class="road-col">&nbsp;</div>
				<div class="road-col">
					<div class="road">
						<div class="road__section">
							<div class="road__period road__period_left"><i class="fa fa-check" aria-hidden="true"></i>
							05/2017</div>
							<div class="road__info">Registration of Node as a legal entity</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="road-container">
			<div class="road-cols">
				<div class="road-col">
					<div class="road">
						<div class="road__section">
							<div class="road__period"><i class="fa fa-check" aria-hidden="true"></i>
							06/2017 – 09/2017</div>
							<div class="road__info">Negotiations on financing and preparation for the ICO</div>
						</div>
					</div>
				</div>
				<div class="road-col">&nbsp;</div>
			</div>
		</div>
		<div class="road-container">
			<div class="road-cols">
				<div class="road-col">&nbsp;</div>
				<div class="road-col">
					<div class="road">
						<div class="road__section">
							<div class="road__period road__period_left"><i class="fa fa-check" aria-hidden="true"></i>
							10/2017</div>
							<div class="road__info">Creation of a corporate website and presentation materials, promotion in SMM. Creation of a Node bot</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="road-container">
			<div class="road-cols">
				<div class="road-col">
					<div class="road">
						<div class="road__section">
							<div class="road__period">11/2017 – 12/2017</div>
							<div class="road__info">Pre-ICO period</div>
						</div>
					</div>
				</div>
				<div class="road-col">&nbsp;</div>
			</div>
		</div>
		<div class="road-container">
			<div class="road-cols">
				<div class="road-col">&nbsp;</div>
				<div class="road-col">
					<div class="road">
						<div class="road__section">
							<div class="road__period road__period_left">12/2017- 03/2018</div>
							<div class="road__info">Patent registration, certification of products, start of a commercial lot production</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="road-container">
			<div class="road-cols">
				<div class="road-col">
					<div class="road">
						<div class="road__section">
							<div class="road__period">01/2018 – 03/2018</div>
							<div class="road__info">ICO period</div>
						</div>
					</div>
				</div>
				<div class="road-col">&nbsp;</div>
			</div>
		</div>
		<div class="road-container road-container_mb">
			<div class="road-cols">
				<div class="road-col">&nbsp;</div>
				<div class="road-col">
					<div class="road">
						<div class="road__section">
							<div class="road__period road__period_left">04/2018</div>
							<div class="road__info">NODE token intoduction to the trading exchanges</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="road-container">
			<div class="road-cols">
				<div class="road-col">&nbsp;</div>
				<div class="road-col">
					<div class="road">
						<div class="road__section">
							<div class="road__period road__period_left">03/2018 – 06/2018</div>
							<div class="road__info">Launching the production of Alpha </div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="road-container">
			<div class="road-cols">
				<div class="road-col">
					<div class="road">
						<div class="road__section">
							<div class="road__period">05/2018 – 10/2018 </div>
							<div class="road__info">Launching the production of Eon	</div>
						</div>
					</div>
				</div>
				<div class="road-col">&nbsp;</div>
			</div>
		</div>
		<div class="road-container">
			<div class="road-cols">
				<div class="road-col">&nbsp;</div>
				<div class="road-col">
					<div class="road">
						<div class="road__section">
							<div class="road__period road__period_left">07/2018 – 05/2019</div>
							<div class="road__info">Launching the production of Wireless Power Station </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>