<section class="section section_bg_blue" id="token">
    <div class="row">
        <h2 class="title-h2 title-h2_white">TOKEN</h2>

        <p class="text text_white">At this moment, the R&D phase is over, prototype production and testing have been completed. Tests of prototypes demonstrated full compliance with the declared characteristics.</p>
        <p class="text text_white">The NODE token gives a unique opportunity to invest in a revolutionary technological start-up, creating a new niche market for wireless transmission devices for both private and commercial use. The current round of the funds raising is aimed at financing the production and organization of marketing and sales for the company's devices. </p>
        <p class="text text_white">The current stage of a development allows to invest in the project now, when risks related to the product's performance are already smoothed out, and at the same time there is a maximum potential for the increase in investment, an opportunity that is usually only available to business angels and venture capitalists.</p>

    </div>
</section>