<!-- BEGIN section top-screen -->
<div class="section top-screen" id="about">
		<div class="section-bg" style="background-image: url(img/top-bg.png);"></div>
		<div class="row row_clear">
			<div class="section__parts">

				<div class="section__part section__part-left">
					<div class="section__part-top">
						<div class="pre-info">
							<h2 class="pre-info__title title-h3">Wireless charging,<br> transfer and storage</h2>

							<div class="pre-info__body">Node company enters the ICO with the aim of commercializing its own unique developments to make them available to the world</div>
						</div>
					</div>
					<div class="section__part-bottom">
						<div class="sold">
							<div class="sold__parts">
								<div class="sold__title">ALREADY SOLD:</div>
								<div class="sold__field js-timer-tokken">0</div>
							</div>
							<div class="sold__parts">
								<div class="sold__title">1 NODE = 1,0 USD</div>
								<div class="sold__field js-timer-sum">10 000 000</div>
							</div>
						</div>
					</div>
				</div>
				<div class="section__part section__part-right">
					<div class="section__part-top">
						<div class="title-h3 title-h3_mb">Left until the Pre-ICO start:</div>
						<div class="timer">
			                <div class="timer__body">
			                  <div class="timer__cols js-timer">
			                    <div class="timer__col">
			                      <div class="timer__item js-timer-days">17</div>
			                      <div class="timer__caption">days</div>
			                    </div>
			                    <div class="timer__col">
			                      <div class="timer__item js-timer-hour">20</div>
			                      <div class="timer__caption">hours</div>
			                    </div>
			                    <div class="timer__col">
			                      <div class="timer__item js-timer-min">05</div>
			                      <div class="timer__caption">minutes</div>
			                    </div>
			                  </div>
			                </div>
						</div>
					</div>
					<div class="section__part-bottom">
						<div class="btn-wrap">
							<div class="btn-label">Take the advantage of an early <br> participation and get a 50% bonus!</div>
							<button class="btn js-join-btn">Participate</button>
						</div>
					</div>
				</div>
			</div>

			<div class="text text_white text_center">Wireless energy transmission has a wide range of applications in consumer electronics, automotive, medical and many other industries. In addition, in the consumer sector, wireless energy transmission is actively used to charge smartphones, tablets, wearable devices and other electronics.</div>

			<div class="text text_white text_center">Today, Node company offers the market a number of technical solutions in the field of wireless energy transmission - from consumer electronics to industrial products.</div>
		</div>
	</div>
<!-- END section top-screen -->